<div class="col-md-6">
  <h2 class="text-center">Añadir Usuario</h2>

  <form>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input [(ngModel)]="alumno.nombre" placeholder="Nombre" name="Nombre" class="form-control" id="Nombre">
    </div>

    <div class="form-group">
      <label for="apellidos">Apellidos:</label>
      <input [(ngModel)]="alumno.apellidos" placeholder="Apellidos" name="Apellidos" class="form-control" id="Apellidos">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="alumno.email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="pass">Password:</label>
      <input type="password" [(ngModel)]="alumno.pass" placeholder="Password" name="Password" class="form-control" id="Password">
    </div>

    <div class="form-group">
      <label for="ciclo">Ciclo:</label>
      <select [(ngModel)]="alumno.idCicloAux" placeholder="Ciclo" name="Ciclo" class="form-control form-control" id="Ciclo">
          <option *ngFor="let ciclo of ciclos" value="{{ciclo.idCiclo}}">{{ciclo.siglas}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="Empresa">Empresa:</label>
      <select placeholder="Empresa" name="Empresa" class="form-control form-control" id="Empresa">
          <option *ngFor="let empresa of empresas" value="{{empresa.idEmpresa}}" (click)="mostrarResponsables(empresa.idEmpresa)">{{empresa.nombre}}</option>
      </select>
    </div>

    <div class="form-group">
        <label for="Responsable">Responsable:</label>
        <select [(ngModel)]="alumno.idResponsableAux" placeholder="Responsable" name="Responsable" class="form-control form-control" id="Responsable" disabled="disabled" *ngIf="!disabled">
            <option *ngFor="let responsable of responsables" value="{{responsable.idResponsable}}">{{responsable.nombre}}</option>
        </select>
    </div>

    <button class="btn btn-success" (click)="createAlumno()">Crear</button>
    <button type="submit" class="btn btn-primary" routerLink="/lista-alumnos">Cancelar</button>
  </form>
</div>
