<div class="row">
    <div class="col-md-2">
      <br>
      <a [routerLink]="['/alumno-add']">Añadir Alumno</a>
      <br>
      <div class="dropdown-divider"></div>
      <form>
        <div class="form-group">
          <label>Filtrar por ciclo</label>
          <select placeholder="Ciclo" name="Ciclo" class="form-control form-control" id="Ciclo">
              <option *ngFor="let ciclo of ciclos" value="{{ciclo.idCiclo}}" (click)="buscarPorCiclo(ciclo.idCiclo)">{{ciclo.siglas}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Filtrar por responsable</label>
          <select placeholder="Empresa" name="Empresa" class="form-control form-control" id="Empresa">
            <option *ngFor="let empresa of empresas" value="{{empresa.idEmpresa}}" (click)="mostrarListaResponsables(empresa.idEmpresa)">{{empresa.nombre}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="Responsable">Responsable:</label>
          <select placeholder="Responsable" name="Responsable" class="form-control form-control" id="Responsable" disabled="disabled" *ngIf="!disabled">
            <option *ngFor="let responsable of listaResponsables" value="{{responsable.idResponsable}}" (click)="buscarPorResponsable(responsable.idResponsable)">{{responsable.nombre}}</option>
          </select>
        </div>
      </form>
    </div>
      
    <div class="col-md-10">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Password</th>
                <th scope="col">Ciclo</th>
                <th scope="col">Empresa</th>
                <th scope="col">Responsable</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let alumno of alumnos">
                  <td>{{alumno.nombre}}</td>
                  <td>{{alumno.apellidos}}</td>
                  <td>{{alumno.email}}</td>
                  <td>{{alumno.pass}}</td>
                  <td>{{mostrarCiclo(alumno.idCicloAux)}}</td>
                  <td>{{mostrarEmpresa(alumno.idResponsableAux)}}</td>
                  <td>{{mostrarResponsable(alumno.idResponsableAux)}}</td>
                  <td>
                    <a [routerLink]="['/alumno-edit/'+alumno.idAlumno]"> 
                      <i class="fas fa-wrench"></i>
                    </a>

                    <button type="button" class="btn btn-outline-danger" (click)="deleteAlumno(alumno)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>