<!-- NavBar Administrador -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!comprobarlogIn() && !comprobarSeguimiento() && !comprobarActividades()">

  <img class="icon" src="assets/res-fuencarral-icon.jpg" alt="logo cess">
  <a class="navbar-brand">Prácticas - Admin</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['lista-alumnos']">Alumnos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['lista-ciclos']">Ciclos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['lista-empresas']">Empresas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['lista-responsables']">Responsables</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['log-in']">Cerrar Sesión</a>
        </li>
    </ul>
  </div>
</nav>

<!-- NavBar Alumnos -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!comprobarlogIn() && comprobarSeguimiento() || comprobarActividades()">

  <img class="icon" src="assets/res-fuencarral-icon.jpg" alt="logo cess">
  <a class="navbar-brand">Seguimiento Alumnos</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['log-in']">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>