<ion-list>

  <ion-item>
    <ion-label>E-Mail:</ion-label>
    <ion-input [(ngModel)]="alumno.email" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña:</ion-label>
    <ion-input [(ngModel)]="alumno.pass" type="password"></ion-input>
  </ion-item>

</ion-list>

<div padding>
  <button ion-button color="light" (click)='logear()' block>Sign In</button>
</div>