<div class="row">

  <div class="col-md-8">
    <form class="form-inline">
      <div class="form-group mb-3">
        <input type="date" [(ngModel)]="nuevoSeguimiento.inicio" name="inicio">
      </div>

      <div class="form-group mx-sm-3 mb-3">
        <input type="date" [(ngModel)]="nuevoSeguimiento.final" name="final">
      </div>
      <button type="submit" class="btn btn-primary mb-2" (click)="addSeguimiento()">Crear Seguimiento</button>
    </form>
  </div>
  
  <div class="co-md-2">
    <button type="button" class="btn btn-outline-dark" (click)="getPdfNull()">Descargar PDF Vacío</button>
  </div>

  <div class="col-md-12">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Dia Inicio</th>
            <th scope="col">Dia final</th>
            <th scope="col">Mes</th>
            <th scope="col">Año</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let seguimiento of seguimientos">
              <td>{{seguimiento.diaInicio}}</td>
              <td>{{seguimiento.diaFinal}}</td>
              <td>{{seguimiento.mes}}</td>
              <td>{{seguimiento.anio}}</td>
              <td>
                <button button type="button" class="btn btn-outline-success" [routerLink]="['/actividades/'+seguimiento.idSeguimiento]">
                  <i class="fas fa-edit"></i>
                </button>
  
                <button button type="button" class="btn btn-outline-danger" (click)="borrarSeguimiento(seguimiento)">
                  <i class="fas fa-trash-alt"></i>
                </button>
  
              </td>
          </tr>
        </tbody>
      </table>
  </div>
  
</div>