<!--
  Generated template for the SeguimientosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <button (click)='logOut()'>Cerrar Sesion</button>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-label>Fecha Inicio</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="nuevoSeguimiento.inicio"></ion-datetime>
      </ion-col>

      <ion-col col-4>
        <ion-label>Fecha Final</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="nuevoSeguimiento.final"></ion-datetime>
      </ion-col>

      <ion-col col-4>
        <button ion-button (click)="addSeguimiento()">Crear seg.</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
            <ion-list>
                <button ion-item *ngFor="let seguimiento of seguimientos" (click)="editarSeguimiento(seguimiento)">
                    {{seguimiento.diaInicio}} - {{seguimiento.diaFinal}}/{{seguimiento.mes}}/{{seguimiento.anio}}
                </button>
            </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
