<div class="col-md-6">
  <h2 class="text-center">Añadir Empresa</h2>

  <form>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input [(ngModel)]="empresa.nombre" placeholder="Nombre" name="Nombre" class="form-control" id="Nombre">
    </div>

    <div class="form-group">
      <label for="apellidos">Dirección:</label>
      <input [(ngModel)]="empresa.direccion1" placeholder="Direccion" name="Direccion" class="form-control" id="Direccion">
    </div>

    <div class="form-group">
      <label for="apellidos">Teléfono:</label>
      <input [(ngModel)]="empresa.telefono1" placeholder="Telefono" name="Telefono" class="form-control" id="Telefono">
    </div>

    <button class="btn btn-success" (click)="createEmpresa()">Crear</button>
    <button type="submit" class="btn btn-primary" routerLink="/lista-empresas">Cancelar</button>
  </form>
</div>