<div class="row">
  <div class="col-md-2">
    <br>

    <a [routerLink]="['/empresa-add']">Añadir Empresa</a>
    </div>
    
    <div class="col-md-10">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th>Acciones</th>
              </tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let empresa of empresas">
                  <th scope="row">{{empresa.idEmpresa}}</th>
                  <td>{{empresa.nombre}}</td>
                  <td>{{empresa.direccion1}}</td>
                  <td>{{empresa.telefono1}}</td>
                  <td>
                    <a [routerLink]="['/empresa-edit/'+empresa.idEmpresa]"> 
                      <i class="fas fa-wrench"></i>
                    </a>
                    <button button type="button" class="btn btn-outline-danger" (click)="deleteEmpresa(empresa)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>