<div class="col-md-6">
    <h2 class="text-center">Añadir responsable</h2>
  
    <form>
  
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input [(ngModel)]="responsable.nombre" placeholder="Nombre" name="Nombre" class="form-control" id="Nombre">
      </div>
  
      <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input [(ngModel)]="responsable.apellidos" placeholder="Apellidos" name="Siglas" class="form-control" id="Siglas">
      </div>

      <div class="form-group">
          <label for="empresa">Empresa:</label>
          <select [(ngModel)]="responsable.idEmpresaAux" placeholder="Empresa" name="Empresa" class="form-control form-control" id="Empresa">
              <option *ngFor="let empresa of empresas" value="{{empresa.idEmpresa}}">{{empresa.nombre}}</option>
          </select>
      </div>
  
      <button class="btn btn-success" (click)="createResponsable()">Crear</button>
      <button type="submit" class="btn btn-primary" routerLink="/lista-responsables">Cancelar</button>
    </form>
  </div>