<div class="col-md-6">
  <h2 class="text-center">Añadir Ciclo</h2>

  <form>

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input [(ngModel)]="ciclo.nombre" placeholder="Nombre" name="Nombre" class="form-control" id="Nombre">
    </div>

    <div class="form-group">
      <label for="apellidos">Siglas:</label>
      <input [(ngModel)]="ciclo.siglas" placeholder="Siglas" name="Siglas" class="form-control" id="Siglas">
    </div>

    <div class="form-group">
      <label for="apellidos">Tutor:</label>
      <input [(ngModel)]="ciclo.tutor" placeholder="Tutor" name="Tutor" class="form-control" id="Tutor">
    </div>

    <button class="btn btn-success" (click)="createCiclo()">Crear</button>
    <button type="submit" class="btn btn-primary" routerLink="/lista-ciclos">Cancelar</button>
  </form>
</div>