<div class="row">
    <div class="col-md-2">
      <br>

      <a [routerLink]="['/ciclo-add']">Añadir Ciclo</a>
      </div>
      
      <div class="col-md-10">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Siglas</th>
                  <th scope="col">Tutor</th>
                  <th scope="col">Acciones </th>
                </tr>
              </thead>
            
              <tbody>
                <tr *ngFor="let ciclo of ciclos">
                    <th scope="row">{{ciclo.idCiclo}}</th>
                    <td>{{ciclo.nombre}}</td>
                    <td>{{ciclo.siglas}}</td>
                    <td>{{ciclo.tutor}}</td>
                    <td>
                      <a [routerLink]="['/ciclo-edit/'+ciclo.idCiclo]"> 
                        <i class="fas fa-wrench"></i>
                      </a>
                      <button button type="button" class="btn btn-outline-danger" (click)="deleteCiclo(ciclo)">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                </tr>
              </tbody>
            </table>
      </div>
</div>