<div class="col-md-6">
  <form>
    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input type="email" [(ngModel)]="alumno.email" placeholder="Correo Electrónico" name="email" class="form-control" id="email">
    </div>
  
    <div class="form-group">
      <label for="pass">Contraseña:</label>
      <input type="password" [(ngModel)]="alumno.pass" placeholder="Contraseña" name="Password" class="form-control" id="Password">
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="iniciarSesion()">Inciar Sesión</button>
  </form>
</div>
