<div class="row">
    <div class="col-md-2">
      <br>

      <a [routerLink]="['/responsable-add']">Añadir Responsable</a>
      </div>
      
      <div class="col-md-10">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th>Empresa</th>
                  <th>Acciones</th>
                </tr>
              </thead>
            
              <tbody>
                <tr *ngFor="let responsable of responsables">
                    <th scope="row">{{responsable.idResponsable}}</th>
                    <td>{{responsable.nombre}}</td>
                    <td>{{responsable.apellidos}}</td>
                    <td>{{mostrarEmpresa(responsable.idEmpresaAux)}}</td>
                    <td>
                      <a [routerLink]="['/responsable-edit/'+responsable.idResponsable]"> 
                        <i class="fas fa-wrench"></i>
                      </a>
                      <button button type="button" class="btn btn-outline-danger" (click)="deleteResponsable(responsable)">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                </tr>
              </tbody>
            </table>
      </div>
</div>