<div class="row">
  <div class="col-md-10">
    <form>
      <div class="form-group row">
        <label for="inputLunes" class="col-sm-3 col-form-label">Lunes:</label>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="lunes.actividades" name="lActividades" placeholder="Actividades">
        </div>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="lunes.tiempoEmpleado" name="lTiempo" placeholder="Tiempo Empleado">
        </div>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="lunes.observaciones" name="lObservaciones" placeholder="Observaciones">
        </div>
      </div>
    
      <div class="form-group row">
        <label for="inputLunes" class="col-sm-3 col-form-label">Martes:</label>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="martes.actividades" name="mActividades" placeholder="Actividades">
        </div>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="martes.tiempoEmpleado" name="mTiempo" placeholder="Tiempo Empleado">
        </div>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="martes.observaciones" name="mObservaciones" placeholder="Observaciones">
        </div>
      </div>
    
      <div class="form-group row">
        <label for="inputLunes" class="col-sm-3 col-form-label">Miércoles:</label>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="miercoles.actividades" name="xActividades" placeholder="Actividades">
        </div>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="miercoles.tiempoEmpleado" name="xTiempo" placeholder="Tiempo Empleado">
        </div>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="miercoles.observaciones" name="xObservaciones" placeholder="Observaciones">
        </div>
      </div>
    
      <div class="form-group row">
        <label for="inputLunes" class="col-sm-3 col-form-label">Jueves:</label>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="jueves.actividades" name="jActividades" placeholder="Actividades">
        </div>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="jueves.tiempoEmpleado" name="jTiempo" placeholder="Tiempo Empleado">
        </div>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="jueves.observaciones" name="jObservaciones" placeholder="Observaciones">
        </div>
      </div>
    
      <div class="form-group row">
        <label for="inputLunes" class="col-sm-3 col-form-label">Viernes:</label>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="viernes.actividades" name="vActividades" placeholder="Actividades">
        </div>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="viernes.tiempoEmpleado" name="vTiempo" placeholder="Tiempo Empleado">
        </div>
    
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="viernes.observaciones" name="vObservaciones" placeholder="Observaciones">
        </div>
      </div>
    </form>

    <button type="button" class="btn btn-success" (click)="guardarActividades()">Guardar</button>

  </div>

  <div class="col-md-2">
    <button type="button" class="btn btn-outline-dark" (click)="getPdf(id)">Descargar PDF</button>
  </div>
</div>
