<!--
  Generated template for the ActividadesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>actividades</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row>
          <ion-col col-12>
              <ion-item>
                <ion-label color="primary">Día:</ion-label>
                <ion-input [(ngModel)]="lunes.dia" type="text" disabled="true"></ion-input>
              </ion-item>
          </ion-col>

          <ion-col col-12>
              <ion-item>
                <ion-label>Actividades:</ion-label>
                <ion-input [(ngModel)]="lunes.actividades" type="text" ></ion-input>
              </ion-item>
          </ion-col>

          <ion-col col-12>
              <ion-item>
                <ion-label>Tiempo:</ion-label>
                <ion-input [(ngModel)]="lunes.tiempoEmpleado" type="text"></ion-input>
              </ion-item>
          </ion-col>

          <ion-col col-12>
              <ion-item>
                <ion-label>Observaciones</ion-label>
                <ion-input [(ngModel)]="lunes.observaciones" type="text"></ion-input>
              </ion-item>  
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <ion-item>
                  <ion-label color="primary">Día:</ion-label>
                  <ion-input [(ngModel)]="martes.dia" type="text" disabled="true"></ion-input>
                </ion-item>
            </ion-col>
  
            <ion-col col-12>
                <ion-item>
                  <ion-label>Actividades:</ion-label>
                  <ion-input [(ngModel)]="martes.actividades" type="text" ></ion-input>
                </ion-item>
            </ion-col>
  
            <ion-col col-12>
                <ion-item>
                  <ion-label>Tiempo:</ion-label>
                  <ion-input [(ngModel)]="martes.tiempoEmpleado" type="text"></ion-input>
                </ion-item>
            </ion-col>
  
            <ion-col col-12>
                <ion-item>
                  <ion-label>Observaciones</ion-label>
                  <ion-input [(ngModel)]="martes.observaciones" type="text"></ion-input>
                </ion-item>  
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col col-12>
                  <ion-item>
                    <ion-label color="primary">Día:</ion-label>
                    <ion-input [(ngModel)]="miercoles.dia" type="text" disabled="true"></ion-input>
                  </ion-item>
              </ion-col>
    
              <ion-col col-12>
                  <ion-item>
                    <ion-label>Actividades:</ion-label>
                    <ion-input [(ngModel)]="miercoles.actividades" type="text" ></ion-input>
                  </ion-item>
              </ion-col>
    
              <ion-col col-12>
                  <ion-item>
                    <ion-label>Tiempo:</ion-label>
                    <ion-input [(ngModel)]="miercoles.tiempoEmpleado" type="text"></ion-input>
                  </ion-item>
              </ion-col>
    
              <ion-col col-12>
                  <ion-item>
                    <ion-label>Observaciones</ion-label>
                    <ion-input [(ngModel)]="miercoles.observaciones" type="text"></ion-input>
                  </ion-item>  
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <ion-item>
                      <ion-label color="primary">Día:</ion-label>
                      <ion-input [(ngModel)]="jueves.dia" type="text" disabled="true"></ion-input>
                    </ion-item>
                </ion-col>
      
                <ion-col col-12>
                    <ion-item>
                      <ion-label>Actividades:</ion-label>
                      <ion-input [(ngModel)]="jueves.actividades" type="text" ></ion-input>
                    </ion-item>
                </ion-col>
      
                <ion-col col-12>
                    <ion-item>
                      <ion-label>Tiempo:</ion-label>
                      <ion-input [(ngModel)]="jueves.tiempoEmpleado" type="text"></ion-input>
                    </ion-item>
                </ion-col>
      
                <ion-col col-12>
                    <ion-item>
                      <ion-label>Observaciones</ion-label>
                      <ion-input [(ngModel)]="jueves.observaciones" type="text"></ion-input>
                    </ion-item>  
                </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col col-12>
                      <ion-item>
                        <ion-label color="primary">Día:</ion-label>
                        <ion-input [(ngModel)]="viernes.dia" type="text" disabled="true"></ion-input>
                      </ion-item>
                  </ion-col>
        
                  <ion-col col-12>
                      <ion-item>
                        <ion-label>Actividades:</ion-label>
                        <ion-input [(ngModel)]="viernes.actividades" type="text" ></ion-input>
                      </ion-item>
                  </ion-col>
        
                  <ion-col col-12>
                      <ion-item>
                        <ion-label>Tiempo:</ion-label>
                        <ion-input [(ngModel)]="viernes.tiempoEmpleado" type="text"></ion-input>
                      </ion-item>
                  </ion-col>
        
                  <ion-col col-12>
                      <ion-item>
                        <ion-label>Observaciones</ion-label>
                        <ion-input [(ngModel)]="viernes.observaciones" type="text"></ion-input>
                      </ion-item>  
                  </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-6>
                        <button ion-button (click)="guardarActividades()">Guardar</button>
                    </ion-col>
                </ion-row>
    </ion-grid>

</ion-content>
